<!DOCTYPE html>
<html lang="id">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Upload</title>

<style>

body{
    margin:0;
    font-family:Segoe UI;
    background:#0b0f0c;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.box{
    text-align:center;
    background:rgba(255,255,255,0.08);
    padding:25px;
    border-radius:15px;
}

input{
    margin:10px;
}

.btn{
    padding:10px 15px;
    background:#2ecc71;
    border:none;
    border-radius:10px;
    color:white;
    font-weight:bold;
}

</style>
</head>

<body>

<div class="box">

    <h2>Upload Gambar</h2>

    <form action="/predict" method="POST" enctype="multipart/form-data">

        <input type="file" name="image" accept="image/*">

        <br>

        <button class="btn">Deteksi</button>

    </form>

</div>

</body>
</html>